{% extends "des.html" %}
{% block title %}Quản lý người dùng{% endblock %}
{% block content %}
<style>
  body {
        background-color: rgba(119, 226, 248, 0.4);
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<h1>Trang chủ Admin</h1>
<p> Xin chào Admin</p>
<div class="dashboard-grid">
    <a href="{{ url_for('views.manager') }}" class="card-item">
        <div class="icon-box">
            <i class="fa-solid fa-user-gear"></i> </div>
        <h3>Quản lí người dùng</h3>
    </a>

    <a href="#" class="card-item">
        <div class="icon-box">
            <i class="fa-solid fa-gear"></i> </div>
        <h3>Cấu hình hệ thống</h3>
    </a>

    <a href="{{ url_for('views.publish_a')}}" class="card-item">
        <div class="icon-box">
            <i class="fa-solid fa-file-lines"></i> </div>
        <h3>Quản lí xuất bản</h3>
    </a>

    
    
     </div>
  
  <br>
  <div style="margin-top: 20px;">
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger" style="background: #e74c3c; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none; color: white; margin-left: 10px;">
            Đăng xuất
        </a>
  </div>
{% endblock %}