<!--{% extends "base.html" %} {% block title %}LOGIN{% endblock %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
     background-image: url("{{url_for('static', filename='img/background_web.png' )}}");
     
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
    }

    .main-container {
        background-color: rgba(255, 255, 255, 0.903); /* Màu trắng mờ 90% */
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
    }
 </style>

<form method="POST">
    <h3 align="center">Login</h3>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required placeholder="Enter Password">
    </div>
<br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}-->



{% if current_user.role == "AA" %}
<script>window.location="/academic"</script>
{% elif current_user.role == "RECTOR" %}
<script>window.location="/rector"</script>
{% endif %}