flask==3.0.3
flask-login==0.6.3
flask-admin==1.6.1
flask-cors==5.0.0
flask-wtf
python-dotenv==1.0.1
supabase==2.8.0
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
pyjwt==2.9.0
werkzeug==3.0.4
alembic==1.13.3
requests==2.32.3